<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Dashboard</title>
</head>
    <body>

      <div class="container-fluid">
        <nav class="sidenav">
          <a href="/">Dashboard</a>
          <a href="/users">Users</a>
          <a href="/inventory">Inventory</a>
        </nav>

        <div class="main">
          <h4>Dashboard</h4>
        </div>




        <script src="javascripts/script.js"></script>

      </div>
</div>


</body>
</html>