#doughnutChart{

    width: 25%;
    height: auto;
    margin:  auto;
    display: block;
    position: relative;
    top: 50%;
    transform: translate(-150%, 25%);
}

.user_table_index {
    width: 50%;
    height: auto;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translate(50%, -100%);
}

.asset_table_index {
    width: 50%;
    height: auto;
  
    position: relative;
    top: 50%;
    transform: translate(100%, -90%);
}