body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.container-fluid {
  display: flex;
  height: 100vh;
}

.sidenav {
  height: 100%;
  width: 160px;
  background-color: #111;
  color: #818181;
  padding-top: 20px;
}

.sidenav a {
  padding: 10px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

table, th, td {
  width: 30%;
  border: 1px solid;

}
.sidenav a:hover {
  color: #f1f1f1;
}
/* Add the following styles to your existing CSS */

.main {
  padding: 20px;
  width: 80%; /* Adjust the width as needed */
  margin:  auto; /* Center the container horizontally */
  box-sizing: border-box; /* Ensure padding is included in the width */
}


/* Add your other styles as necessary */
/* styles.css */
.button-container {
  position: fixed;
  top: 20px;
  right: 20px; /* Adjust the right value as needed */
  display: flex;
  flex-direction: column;
 /* Align buttons to the end (right) of the container */
}

.button-container button {
  margin-bottom: 5px; /* Add margin between buttons */
}



#editor-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}